<% include ./partials/boilerplate.ejs %>
<h1 id="userSaved">Pet Shelters: </h1>
<br />
<br />
  <h1>Add A New Shelter!</h1>
  <form action="/bfAllView" method="POST" accept-charset="utf-8">
    <input name="name" placeholder="Enter Shelter Name">
    <input name="zipcode" placeholder="Enter Shelter Zipcode" type="number">
    <input name="description" placeholder="Enter Shelter Description">
    <input name="pets" placeholder="Enter Shelter Adoptable/Available Pets">
    <input type="submit" value="Add Shelter">
  </form>
  <br />
</div>
<div class="container">
<% allData.forEach((shelters) => { %>
<div class="saved">
<label>Shelter Name: </label>
<br />
<p><%= shelters.name %></p>
<br />
<label>Shelter Zipcode: </label>
<br />
<p><%= shelters.zipcode %></p>
<br />
<a href="/bfAllView/<%= shelters.id %>">Click here to edit Zipcode!</a>
<br />

<label>Shelter Description: </label>
<br />
<p><%= shelters.description %></p>
<br />
<a href="/bfAllView/<%= shelters.id%>">Click here to edit Description!</a>
<br />

<label>Shelter Pets Up For Adoption: </label>
<p><%= shelters.pets %></p>
<br />
<form method="POST" action="/bfAllView/<%= shelters.id %>?_method=DELETE">
<button type="submit">Delete This Shelter!</button>
</form>
</div>

<% }) %>

<%= allData.name %>

</div>
  <h1>Please Scroll</h1>
    <a href="/">Log off</a> <!--sends user back to log in page-->


<% include ./partials/end.ejs %>
