<% include ./partials/boilerplate.ejs %>
<h1 id="userSaved">Pet Shelters: </h1>
<br />
<br />
  <h1>Add A New Shelter!</h1>
  <form action="/bfAllView/" method="POST" accept-charset="utf-8" >
    <input name="name" placeholder="Enter Shelter Name" required>
    <input name="zipcode" placeholder="Enter Shelter Zipcode" type="number" required>
    <input name="description" placeholder="Enter Shelter Description" required>
    <input name="pets" placeholder="Enter Shelter Adoptable/Available Pets" required>
    <input type="submit" value="Add Shelter">
  </form>
  <br />
  <br />
</div>
<div class="container">
<% allData.forEach((shelters) => { %>


      <div class="saved" data-sheltersid="<%= shelters.id %>">
        <label>Shelter Name: </label>
        <br />
        <p><%= (shelters.saved) ? 'Done' : shelters.name %></p>
        <br />
        <label>Shelter Zipcode: </label>
        <p><%= (shelters.saved) ? 'Done' : shelters.zipcode %></p>
        <br />
        <a href="/bfAllView/<%= shelters.id %>">Click here to edit Zipcode!</a>
        <br />
        <br />
        <label>Shelter Description: </label>
        <p><%= (shelters.saved) ? 'Done' : shelters.description %></p>
        <br />
        <a href="/bfAllView/<%= shelters.id%>">Click here to edit Description!</a>
        <br />
        <br />
        <label>Shelter Pets Up For Adoption: </label>
        <p><%= (shelters.saved) ? 'Done' : shelters.pets %></p>
        <br />
        <br />
        <form method="POST" action="/bfAllView/<%= shelters.id %>?_method=DELETE">
        <button type="submit">Delete This Shelter!</button>
        <hr>
        <br />
        <!--delete form below-->
        </form>


</div>
<% }) %>


</div>

  <h1>Please Scroll</h1>

  <div id="logoff">
    <p><a href="/">Log off</a></p><!--sends user back to log in page-->
  </div>

<% include ./partials/end.ejs %>
